{$APP_DOMAIN} {
    tls internal
    encode zstd gzip
    reverse_proxy client:80
}

{$API_DOMAIN} {
    tls internal
    encode zstd gzip
    reverse_proxy api:3000
}

{$AUTH_DOMAIN} {
    tls internal
    encode zstd gzip
    reverse_proxy keycloak:8080
}
